body {
    background: #ff65d6 url("mob-bg.png") no-repeat center center / cover  ;
    height:100vh;
    width:100%;
    text-align:center;
    margin:0

}

h1{

     color:#659bff;
     -webkit-text-stroke: 1px rgb(255, 0, 0);
     font-family:"momo trust display" ;
     font-size:90px;



}
div{
    color: #d42c2c;
    font-family:"momo trust display" ;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size:27px;

}
